.text-xs	{
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}
.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}
.text-base	{
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}
.text-lg	{
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
.text-xl	{
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}
.text-2xl	{
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}
.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}
.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}
.text-5xl	{
  font-size: 3rem; /* 48px */
  line-height: 3.25rem; /* 52px */
}
.text-6xl	{
  font-size: 3.75rem; /* 60px */
  line-height: 4rem; /* 64px */
}
.text-7xl	{
  font-size: 4.5rem; /* 72px */
  line-height: 4.5rem; /* 72px */
}

@media (min-width: 640px) {
  .sm\:text-xs {
    font-size: 0.75rem/* 12px */;
    line-height: 1rem/* 16px */;
  }
  .sm\:text-sm {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
  }
  .sm\:text-base {
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
  }
  .sm\:text-lg {
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
  }
  .sm\:text-xl {
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
  }
  .sm\:text-2xl {
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
  }
  .sm\:text-3xl {
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
  }
  .sm\:text-4xl {
    font-size: 2.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
  }
  .sm\:text-5xl {
    font-size: 3rem/* 48px */;
    line-height: 3.25rem/* 52px */;
  }
  .sm\:text-6xl {
    font-size: 3.75rem/* 60px */;
    line-height: 4rem/* 64px */;
  }
  .sm\:text-7xl {
    font-size: 4.5rem/* 72px */;
    line-height: 4.5rem/* 72px */;
  }
}

@media (min-width: 768px) {
  .md\:text-xs {
    font-size: 0.75rem/* 12px */;
    line-height: 1rem/* 16px */;
  }
  .md\:text-sm {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
  } 
  .md\:text-base {
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
  }
  .md\:text-lg {
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
  }
  .md\:text-xl {
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
  }
  .md\:text-2xl {
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
  }
  .md\:text-3xl {
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
  }
  .md\:text-4xl {
    font-size: 2.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
  }
  .md\:text-5xl {
    font-size: 3rem/* 48px */;
    line-height: 3.25rem/* 52px */;
  }
  .md\:text-6xl {
    font-size: 3.75rem/* 60px */;
    line-height: 4rem/* 64px */;
  }
  .md\:text-7xl {
    font-size: 4.5rem/* 72px */;
    line-height: 4.5rem/* 72px */;
  }
}

@media (min-width: 1024px) {
  .lg\:text-xs {
    font-size: 0.75rem/* 12px */;
    line-height: 1rem/* 16px */;
  }
  .lg\:text-sm {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
  }
  .lg\:text-base {
    font-size: 1rem/* 16px */;
    line-height: 1.5rem/* 24px */;
  }
  .lg\:text-lg {
    font-size: 1.125rem/* 18px */;
    line-height: 1.75rem/* 28px */;
  }
  .lg\:text-xl {
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
  }
  .lg\:text-2xl {
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
  }
  .lg\:text-3xl {
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
  }
  .lg\:text-4xl {
    font-size: 2.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
  }
  .lg\:text-5xl {
    font-size: 3rem/* 48px */;
    line-height: 3.25rem/* 52px */;
  }
  .lg\:text-6xl {
    font-size: 3.75rem/* 60px */;
    line-height: 4rem/* 64px */;
  }
  .lg\:text-7xl {
    font-size: 4.5rem/* 72px */;
    line-height: 4.5rem/* 72px */;
  }
}

.text-balance {
  text-wrap: balance;
}

.text-pretty {
  text-wrap: pretty;
}

.text-current {
  color: currentColor;
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-tertiary {
  color: var(--color-tertiary);
}

.text-accent {
  color: var(--color-accent);
}

.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold	{
  font-weight: 800;
}
.font-black	{
  font-weight: 900;
}